<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/broucher.css">
</head>

<body>

    <div class="container">
        <div class="page_break" product="2">

            <div class="item1">
                <img src="https://i.ebayimg.com/images/g/fCcAAOSwKAZmt5Yg/s-l1600.webp" id="image">
                <div class="product-details">
                    <h3>Product Details</h3>
                    <table id="item_product_details"
                        rows="Metal,Metal_Purity,Main_Stone,Main_Stone_Shape,Main_Stone_Color,Main_Stone_Creation,Weight,Ring_Size,Style,Store_Category">
                        <tr>
                            <td><strong>Metal</strong></td>
                            <td id="Metal"></td>
                        </tr>
                        <tr>
                            <td>Metal Purity</td>
                            <td id="Metal_Purity"></td>
                        </tr>
                        <tr>
                            <td><strong>Main Stone</strong></td>
                            <td id="Main_Stone"></td>
                        </tr>
                        <tr>
                            <td><strong>Main Stone Shape</strong></td>
                            <td id="Main_Stone_Shape"></td>
                        </tr>
                        <tr>
                            <td><strong>Main Stone Color</strong></td>
                            <td id="Main_Stone_Color"></td>
                        </tr>
                        <tr>
                            <td><strong>Main Stone Creation</strong></td>
                            <td id="Main_Stone_Creation"></td>
                        </tr>
                        <tr>
                            <td><strong>Gross Weight(Gram)</strong></td>
                            <td id="Weight"></td>
                        </tr>
                        <tr>
                            <td><strong>Ring Size</strong></td>
                            <td id="Ring_Size"></td>
                        </tr>
                        <tr>
                            <td><strong>Style</strong></td>
                            <td id="Style"></td>
                        </tr>
                        <tr>
                            <td><strong>Store Category</strong></td>
                            <td id="Store_Category"></td>
                        </tr>
                    </table>
                </div>

            </div>

            <div class="item2">
                <img src="https://i.ebayimg.com/images/g/fCcAAOSwKAZmt5Yg/s-l1600.webp" id="image">
                <div class="product-details">
                    <h3>Product Details</h3>
                    <table id="item_product_details"
                        rows="Metal,Metal_Purity,Main_Stone,Main_Stone_Shape,Main_Stone_Color,Main_Stone_Creation,Weight,Ring_Size,Style,Store_Category">
                        <tr>
                            <td><strong>Metal</strong></td>
                            <td id="Metal"></td>
                        </tr>
                        <tr>
                            <td>Metal Purity</td>
                            <td id="Metal_Purity"></td>
                        </tr>
                        <tr>
                            <td><strong>Main Stone</strong></td>
                            <td id="Main_Stone"></td>
                        </tr>
                        <tr>
                            <td><strong>Main Stone Shape</strong></td>
                            <td id="Main_Stone_Shape"></td>
                        </tr>
                        <tr>
                            <td><strong>Main Stone Color</strong></td>
                            <td id="Main_Stone_Color"></td>
                        </tr>
                        <tr>
                            <td><strong>Main Stone Creation</strong></td>
                            <td id="Main_Stone_Creation"></td>
                        </tr>
                        <tr>
                            <td><strong>Gross Weight(Gram)</strong></td>
                            <td id="Weight"></td>
                        </tr>
                        <tr>
                            <td><strong>Ring Size</strong></td>
                            <td id="Ring_Size"></td>
                        </tr>
                        <tr>
                            <td><strong>Style</strong></td>
                            <td id="Style"></td>
                        </tr>
                        <tr>
                            <td><strong>Store Category</strong></td>
                            <td id="Store_Category"></td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>

    </div>

</body>

</html>